.home {
  text-align: center;
  padding: 40px 20px;
}

.home h1 {
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.home-description {
  max-width: 800px;
  margin: 0 auto 25px;
  font-size: 18px;
  line-height: 1.6;
}